html{
    margin: 0 300px;
}

body {
    margin: 0;
    padding: 0;
}

.box {
background-color: rgb(83, 157, 253);
height: 120px;
background-image: url('../img/logo.svg');
background-image: url('../img/pattern.png');
background-size: cover;
background-size: 30%;
}

h1{
    font-size: 45px;
    
}

.author {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.589)
}

.blue-text {
    color: rgba(173, 216, 230, 0.918);
} 



