html{
    margin: 0 300px;
}

body {
    margin: 0;
    padding: 0;
}

.box {
background-color: rgb(83, 157, 253);
height: 120px; background-image: url('../img/pattern.png');
background-size: cover;
background-size: 30%;
}

.bool {
    line-height: 120px;
    height: 60px;
    padding: 30px 5px;
}


h1 {
    font-size: 45px;
    margin: 40px 0px 0px 0px;
    
}

.author {
    margin: 0px 0px 30px 0px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.589)
}

.blue-text {
    color: rgba(173, 216, 230, 0.918);
} 

.photos {
margin: 0;
}

.content {
    font-size: 20px;
}

.yellow-back {
    background-color: yellow;

}

ul {
   padding-inline-start: 0%;
   list-style-position: inside;
}


table { 
    border-collapse: collapse;
}


th{
    text-align: left;
    background-color: rgb(83, 157, 253);
    color: #FFFFFF;
}

td {
    background-color: lightblue;
}

.white {
    background-color: #FFFFFF;
}

.tabella {
   width: 50%;
}

h2 {
    color:rgba(0, 0, 0, 0.541);
}

h3 {
margin: 0px;
}

.monitor {
padding: 10px;
background-image: url(../img/monitor.jpg);
background-repeat: no-repeat;
background-size: cover;
color: #FFFFFF;
background-color: red;
font-size: 25px;
font-weight: bold;
width: 300px;
height: 200px;
}

.graph {
    padding: 10px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-color: red;
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
    }

